@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Add Agent";
}
@{
    <h1>Add Agent</h1>

    <form method="post" action="Agent/addAgent">
        <div class="row">
            <input name="AgentName" placeholder="Enter new agent name..." />
        </div>
        <div class="row">
            <input name="WorkingArea" placeholder="Enter working area..." />
        </div>
        <div class="row">
            <input name="Comission" placeholder="Enter commision amount..." />
        </div>
        <div class="row">
            <input name="PhoneNo" placeholder="Enter phone number..." />
        </div>
        <div class="row">
            <button type="submit">Save</button>
        </div>    
    </form>
}
