@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Agent Hub</h1>
    <p>Welcome to the Secret Agent Hub</p>
</div>
<div class="row">
    <a href="/Agent" class="btn btn-block btn-outline-info">
        View All Agents
    </a>
    <a href="/Agent/addAgent" class="btn btn-block btn-outline-info">
        Add a new Agent
    </a>

</div>

